.bg--move {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.1);
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right: 0;
    z-index: -1;
}