.footerHome {
    padding: 30px 0;
    .footerHome__links {
        display: flex;
        justify-content: center;
        .footerHome__link{
            fill: currentColor;
            transition: fill .4s cubic-bezier(0.5, 0, 0.1, 1),transform .4s cubic-bezier(0.5, 0, 0.1, 1),-webkit-transform .4s cubic-bezier(0.5, 0, 0.1, 1);
        }
        .footerHome__link:hover {
            color: red;
            transform: scale(1.5);
        } 
        .footerHome__link a {
            padding: 0 12px;
            height: 40px;
            line-height: 40px;
        }
    }
}