.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: transparent;
    height: 3em;
    .header-container{
        background: white;
        height: 0;
        transition: height ease-out .3s;
    }
    .header-container__show {
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            display: flex;
            justify-content: space-around;
            width: 100%;
            li>a {
                cursor: pointer;
                color: #564242
            }
        }
    }
    .header-button {
        position: absolute;
        border: 0;
        bottom: 0;
        right: 35px;
        background: none;
        cursor: pointer;
        i {
            font-size: 2em;
        }
    }
    .header-button:focus{
        outline: 0;
    }
}

.icon-close {
    color: black;
}

.icon-menu {
    color: white;
}