@font-face {
    font-family: 'century-bold';
    src: url('./assets/fonts/century/CenturyGothicBold.ttf');
}

@font-face {
    font-family: 'century-regular';
    src: url('./assets/fonts/century/CenturyGothicRegular.ttf');
}
