@import './_globals/_variables.scss';

body {
    // background-color: #2b2b2b;
    // background-color: #f33a3a;
    // background-color: #13181e;
    background-color: var(--mainColor);

    color: var(--mainTextColor);
}

.b-cursor-custom {
    height: 15px;
    width: 15px;
    border-radius: 20px;
    background-color: blue;
    position: absolute;
    display: flex;
    justify-content: center;
}