

// .menu-toggle {
//     display: inline-block;
//     height: 30px;
//     width: 30px;
//     transition: all 0.25s ease-in-out;
// }

// /* Animate menu icon (lines). */

// .svg-menu-toggle .line {
//     opacity: 1;
//     transform: rotate(0) translateY(0) translateX(0);
//     transform-origin: 1em 1em;
//     transition: transform 0.3s ease-in-out, opacity 0.2s ease-in-out;
//     fill: #fff;
// }

// .svg-menu-toggle .line-1 {
//     // transform-origin: 1em 2.5em;
//     transform-origin: 0.6em 2.5em;
// }

// .svg-menu-toggle .line-3 {
//     // transform-origin: 1em 4.5em;
//     transform-origin: 1em 4.3em;
// }

// .menu-toggle.opened .svg-menu-toggle .line-1 {
//     transform: rotate(45deg) translateY(0) translateX(0);
// }

// .menu-toggle.opened .svg-menu-toggle .line-2 {
//     opacity: 0;
// }

// .menu-toggle.opened .svg-menu-toggle .line-3 {
//     transform: rotate(-45deg) translateY(0em) translateX(0em);
// }

.menu-toggle {
    height: auto;
    position: absolute;
    right: 37px;
    top: 31px;
    cursor: pointer;
    .lines {
        position: relative;
        overflow: hidden;
        width: 26px;
        height: 1px;
        background: white;
        margin-bottom: 7px;
    }
    .line3 {
        width: 15px;
        transform: translateX(11px);
    }
}