
.home {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    display: table;
    .home-container {
        display: table-cell;
        vertical-align: middle;
        padding: 0 15px;
        margin: 0 auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.34);
        margin-bottom: 1em;
        .home-container-img {
            height: 12em;
        }
        .home-container-text {
            max-width: 25em;
            margin: 0 auto;
            font-size: 1.2rem;
            color: white;
            text-align: center;
        }
    }
}

@media screen and (min-width: 670px) {
    .home{
        .home-container{
            // background-color: transparent;
            .home-container-img{
                height: 8em;
                width: 40em;
            }
        }
    }
}