
.home {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    transform: translateX(100%);
    opacity: 0;
    //display: none;
    .home-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .home-container-img {
            height: 12em;
        }
        .home-container-text {
            max-width: 25em;
            margin: 0 auto;
            font-size: 1.2rem;
            color: white;
            text-align: center;
        }
    }
}

@media screen and (min-width: 670px) {
    .home{
        .home-container{
            // background-color: transparent;
            .home-container-img{
                height: 8em;
                width: 40em;
            }
        }
    }
}