@import '../../_globals/_variables.scss';
@import '../../_globals/_typography.scss';
@import '../../utils/_easings.scss';


:root {
    --homeFont: 'century-bold';
    --centuryReg: 'century-regular';
    --whitoutColor: transparent;
}

.home {
    background-color: #f3f3f3;
    position: relative;
    height: 100vh;
    font-family: var(--homeFont);
    overflow: hidden;
    display: grid;
    grid-template-columns: 40% 1fr;
    .home__greeting{
        position: relative;
        .home__greeting-container {
            position: absolute;
            left: 15%;
            top: 45%;
            transform: translateY(-50%);
            .home__greeting__title {
                font-size: 70px;
                line-height: 70px;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                margin-bottom: 1rem;
                span {
                    transform: translateX(-100%);
                    animation: enterText 1.7s $EASE_OUT_EXPO forwards;
                    width: fit-content;
                    color: var(--mainColor);
                    text-transform: uppercase;
                    // -webkit-text-stroke: 1px var(--mainColor);
                    &.say-hello {
                        text-decoration: underline;
                        font-size: 20px;
                        &::after {
                            content: 'Hello';
                            animation: spin 4s linear infinite forwards;
                            animation-delay: 1s;
                        }
                    }
                    &:nth-child(1), &:nth-child(2) {
                        color: var(--mainTextColor);
                        font-family: var(--centuryReg);
                    }
                    &:nth-child(3) {
                        color: #d52626;
                    }
                }
            }
            .home__greeting__subtitle {
                font-family: var(--centuryReg);
                opacity: 0;
                animation: enterSubtitle 1.7s $EASE_OUT_EXPO forwards;
                animation-delay: .6s;
            }
        }
    }
    .home__background-container {
        overflow: hidden;
        .home__background-image {
            background-image: url('https://images.unsplash.com/photo-1447639703758-f525f36456bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=eed4e60389692478a4885c60be5593f9&auto=format&fit=crop&w=1013&q=80');
            background-size: cover;
            background-position-x: -220px;
            background-repeat: no-repeat;
            height: 100%;
            animation: enterBackground 1.7s $EASE_OUT_EXPO forwards;
            animation-delay: .3s;
        }
    }
}

@keyframes spin {
    0% {
        content:"Hello"; // Usa
    }
    10% {
        content:"Hola"; // Mexico
    }
    20% {
        content:"Salut"; // Francia
    }
    30% {
        content:"Hallo"; // Germany
    }
    40% {
        content:"Ciao"; // Italia
    }
    50% {
        content:"こんにちは"; // Japan
    }
    60% {
        content:"Здравствуйте"; // Russia
    }
    70% {
        content:"你好"; // China
    }
    80% {
        content:"Que onda"; // Mexico
    }
    90% {
        content:"여보세요"; // Korea
    }
    100% {
        content:"Hello";
    }
}

@keyframes enterBackground {
    0% {
        background-position-x: -220px;
    }
    100% {
        background-position-x: -170px;
    }
}

@keyframes enterText {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes enterSubtitle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
