@import '../../_globals/_variables.scss';
@import '../../_globals/_typography.scss';


:root {
    --homeFont: 'century-bold';
    --centuryReg: 'century-regular';
    --whitoutColor: transparent;
}

.home {
    background-image: linear-gradient(to bottom, #1b1f24, #16212f, #10223b, #0c2346, #0d2351);
    position: relative;
    height: 100vh;
    font-family: var(--homeFont);
    overflow: hidden;
    transform: scale(0.3);
    .background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .home__greeting{
        position: absolute;
        left: 5%;
        top: 45%;
        // transform: translateY(-50%);
        transform: translateY(80%);
        animation: linear .3s .5s enterTitle forwards;
        .home__greeting__title {
            font-size: 70px;
            line-height: 70px;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            span {
                width: fit-content;
                color: var(--whitoutColor);
                -webkit-text-stroke: 1px var(--mainColor);
                span {
                    font-family: var(--centuryReg);
                }
            }

        }
    }
    .home__container-mountain{
        position: absolute;
        bottom: -4px;
    }
}

@keyframes enterTitle {
    0% {
        transform: translateY(80%);
    }
    100% {
        transform: translateY(-50%);
    }
}
