@import '../../_globals/_variables.scss';
@import '../../_globals/_typography.scss';
@import '../../utils/_easings.scss';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


:root {
    --homeFont: 'century-bold';
    --centuryReg: 'century-regular';
    --whitoutColor: transparent;
    --homeBackground: #3c3c3c;
}

.b-home {
    height: 100vh;
    background-color: var(--homeBackground);
    position: relative;
    font-family: 'Permanent Marker', cursive;
    .b-home__title-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: white;
        z-index: 10;
        width: 220px;
        p {
            font-size: 90px;
            transition: transform .7s ease;
        }
        p:nth-child(1)::after, p:nth-child(2)::after {
            position: absolute;
            content: "";
            width: 50%;
            height: 2px;
            background-color: white;
        }
        p:nth-child(1) {
            &::after {
                top: 0;
                left: 0;
            }
        }
        p:nth-child(2) {
            text-align: right;
            &::after {
                bottom: 0;
                right: 0;
            }
        }
    }

    // animation title
    .b-home__title-container:hover {
        p:nth-child(1) {
            transform: translateX(50%);
        }
        p:nth-child(2) {
            transform: translateX(-50%);
        }
    }
}

#canvas {
    position: fixed;
    top: 0;
}
