.header {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    // background: red;
    height: 59px;
    display: grid;
    align-items: center;
    // background: blue;
    &-icon {
        position: absolute;
        right: 25px;
        top: 11px;
    
    }
}