$backgroundPrimary: rgb(19, 18, 18);

.home {
    height: 100vh;
    // transform: translateX(100%);
    // opacity: 0;
    position: relative;
    overflow: hidden;
    background: $backgroundPrimary;
    &__box-title {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
    &__subtitle {
        font-weight: bold;
        letter-spacing: 3px;
    }
    &__title {
        margin-left: 53px;
        margin-bottom: 1rem; 
        letter-spacing: 53px;
        font-size: 4em;
        font-family: arkhip;
        text-transform: uppercase;
        position: relative;
    }
    &__title--animate{
        &:after, &::before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $backgroundPrimary;
            overflow: hidden;
            clip: rect(0, 900px, 0, 0);
            animation: glitch 1s infinite linear alternate-reverse;
        }
    }
    .clip-path {
        background: $backgroundPrimary;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        // -webkit-clip-path: polygon(0 100%, 0 0, 50% 0, 50% 100%);
        // clip-path: polygon(0 100%, 0 0, 50% 0, 50% 100%);
        .home__box-title {
            color: #823333;
        }
    }
    .indicator {
        transform: translateX(-50%);
        position: absolute;
        top: 0;
        left: 50%;
        background: transparent;
        height: 100%;
        width: 130px;
        cursor: move;
        /* bottom: -55px; */
    }
}

@media screen and (max-width: 750px) {
    .home {
        .bg--move {
            background-position: 30%;
        }
        &__title {
            font-size: 3em;
            margin-left: 40px;
            letter-spacing: 40px;
        }
    }
}

@media screen and (max-width: 540px) {
    .home {
        &__title {
            font-size: 2em;
            margin-left: 23px;
            letter-spacing: 23px;
        }
    }
}

@keyframes glitch {
    0% {
        clip: rect(56px, 9999px, 16px, 0);
    }
    5% {
        clip: rect(41px, 9999px, 16px, 0);
    }
    10% {
        clip: rect(36px, 9999px, 83px, 0);
    }
    15.000000000000002% {
        clip: rect(41px, 9999px, 57px, 0);
    }
    20% {
        clip: rect(54px, 9999px, 29px, 0);
    }
    25% {
        clip: rect(3px, 9999px, 36px, 0);
    }
    30.000000000000004% {
        clip: rect(35px, 9999px, 88px, 0);
    }
    35.00000000000001% {
        clip: rect(91px, 9999px, 10px, 0);
    }
    40% {
        clip: rect(23px, 9999px, 12px, 0);
    }
    45% {
        clip: rect(45px, 9999px, 48px, 0);
    }
    50% {
        clip: rect(51px, 9999px, 67px, 0);
    }
    55% {
        clip: rect(96px, 9999px, 3px, 0);
    }
    60.00000000000001% {
        clip: rect(80px, 9999px, 92px, 0);
    }
    65% {
        clip: rect(93px, 9999px, 58px, 0);
    }
    70.00000000000001% {
        clip: rect(42px, 9999px, 25px, 0);
    }
    75% {
        clip: rect(68px, 9999px, 81px, 0);
    }
    80% {
        clip: rect(92px, 9999px, 49px, 0);
    }
    85% {
        clip: rect(30px, 9999px, 48px, 0);
    }
    90% {
        clip: rect(13px, 9999px, 81px, 0);
    }
    95% {
        clip: rect(11px, 9999px, 26px, 0);
    }
    100% {
        clip: rect(33px, 9999px, 6px, 0);
    }
}