@import "~normalize.css";
@import "~flexboxgrid";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import './assets/fonts/beto/beto.css';

body {
    font-family: 'Ubuntu', sans-serif;
    background: gray;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}