@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import './assets/fonts/beto/beto.css';

@font-face {
    font-family: arkhip;
    src: url('./assets/fonts/Arkhip_font.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: black;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style-type: none;
}

.full-page {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

@import './styles/components/background_move.scss';