.loader {
    width: 42%;
    height: 40px;
    background: rgb(54,70,82);
    margin: 0 auto;
    &-progress {
        width: 0%;
        height: 100%;
        background-color:rgb(216,21,50);
        animation: 5s loader infinite linear;
    }
}

@keyframes loader {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}